.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* height: 80vh; */
    /* grid-template-rows: 1fr 1fr 1fr; */
  }
    
    .HomeFeed{
      display: flex;
      background-color: white;
      flex-direction: column;
      overflow: scroll;
      height: 63.5vh;
      width: 70vw;
    }
  
    .userPic{
        height: auto;
        width: 60%;
      }

    img{
        height: auto;
        width: 5%;
    }

    .postPic {
        height:auto;
        width:600px;
    }
    
    .usersProfilePic{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }