.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "GroupPicture SignUp";
  }

  .GroupPicture { grid-area: GroupPicture;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-left: 40%;
 }

  h2{
    color: #ed9583
}

.login{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border: solid lightgreen 3%;
    border-radius: 3%;
    margin: auto;
    margin-top: 10%;
    height: 130%;
}
    
.group {
    width: 130%;
     height: 100%;
    margin-bottom: -50%;
    background-color: #ed9583
}

.user{
  margin-top: 10%;
}