.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "GroupPicture SignUp";
  }
  .GroupPicture { grid-area: GroupPicture;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
 }
  .SignUp { grid-area: SignUp; 
 }
.logo{
    width:50%;
    height: 50%;
    margin-top: 5%;
}
.SignUp{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border: solid lightgreen 3%;
    border-radius: 3%;
    margin: auto;
    margin-top: 2%;
}
input{
    margin: 3%;
    border-radius: 10%;
}
h1{
    color: #ED9583
}
.submit:hover{
    cursor: pointer
}
h6:hover{ 
    cursor: pointer;
    text-decoration: underline;  
}
.submit{
    background-color: #ED9583;
    width: 50%;
}
.group{
    width: 130%;
    height: 80%
}